.form__container {
  background-color: #232429;
  height: 55vh;
  width: 30vw;
  display: flex;
  border-radius: 5px;
  border: 1px solid #41434b;
  flex-direction: column;

  h3 {
    text-align: center;
    margin-top: 5rem;
    color: #54555b;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7rem;
  }

  h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
    color: #fff;
  }
}
