.form {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 5rem;
  flex-direction: column;

  span {
    margin: 2rem 0 3rem 0;
    color: #5f5f65;
    font-size: 1.5rem;
    font-weight: 600;

    a {
      color: #fff;
      text-decoration: none;

      span {
        color: #fff;
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }
}
